.card{
    display: inline;
    background-color: rgb(255, 255, 255);
    height: 280px;
    width: 195px;
    border: 2px solid black;
    border-radius: 10px;
}

.image{
    height: 185px;
    width: 195px;
    border-radius: 10px;
}

.name{
    padding: 0 5px;
    font-size: 23px;
}

.spl{
    display: flex;
    padding: 0 5px;
    color: grey;
}