.card{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 220px;
    border-radius: 10px;

   /* margin:  50px 50px  70px 70px; */
}

.image{
    height: 185px;
    width: 195px;
    border-radius: 10px;
}

.name{
    padding: 0 10px;
    font-size: 20px;
}

.spl{
    display: flex;
    padding: 0 10px;
    color: grey;
}