.card{
    background-color: #1F2B6C;
    height: 400px;
    width: 270px;
    border-radius: 5px;

   /* margin:  50px 50px  70px 70px; */
}

.image{
    height: 325px;
    width: 268px;
    border-radius: 5px;
}

.name{
    padding: 0 10px;
    margin-left: 50px;
    margin-top: 12px;
    font-size: 25px;
    color: white;
}

.spl{
    display: flex;
    padding: 0 10px;
    margin-left: 75px;
    color: #BFD2F8;
}