nav {
    background-color: #1F2B6C;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 25px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }


  
  .book_btn{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--Accent, #91afed);
    margin-left: 860px;
    font-weight: 600;
  }