.main-container{
    display: flex;
}

.full-form{
    background-color: #1F2B6C;
    width: 520px;
    height: 400px;
    margin-left: 200px;
    margin-top: 210px;
    margin-right: 50px;
    border-radius: 5px 5px 0px 0px;
}

#firstName{
    width: 260px;
    height: 70px;
    border-radius: 5px 0px 0px 0px;
    background: var(--Primary, #1F2B6C);
    color: white;
}
#e-mail{
    width: 260px;
    height: 70px;
    border-radius: 0px 5px 0px 0px;
    background: var(--Primary, #1F2B6C);
    color: white;
}
#subject{
    width: 520px;
    height: 70px;
    border-radius: 0px 0px 0px 0px;
    background: var(--Primary, #1F2B6C);
    color: white;
}

#message{
    width: 520px;
    height: 330px;
    border-radius: 0px 0px 0px 0px;
    background: var(--Primary, #1F2B6C);
    color: white;
}

.form-submit{
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 0px;
    width: 520px;
    background-color:#BFD2F8;
    border-radius: 0px 0px 5px 5px;
}


/* .main_conct{
    margin-top: 100px;
 } */

 .touch{
    display: flex;
width: 200px;
height: 10px;
text-transform: uppercase;
font-size: larger;
letter-spacing: 5px;
color: var(--Secondary, #159EEC);
 }

.hosp_cont{
    
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #1F2B6C;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: x-large;
 }

 .main-div{
    display: inline;
 }

.contact{
    display: flex;
    width: 650px;
    height: 280px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 90px;
    
}

.emergncy img{
    margin-right: 165px;
    margin-top: 75px;
    margin-bottom: 15px;
}

.emergncy{
    background-color: #BFD2F8;
    text-align: end;
    width: 233px;
    height: 233px;
    border-radius: 8px;
    flex-shrink: 0;
}

.emg_text{
    color: var(--Primary, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-right: 85px;
    margin-top: 8px;
}

.emg_text2{
    color: var(--Primary, #1F2B6C);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 9px; 
margin-right: 85px;
}


.loc img{
    margin-left: 30px;
    margin-top: 75px;
    color: #000;
    margin-bottom: 15px;
}

.loc{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    border-radius: 8px;
    flex-shrink: 0;
}

.loct_text{
    color: var(--Accent, #1F2B6C);
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 8px;
}

.loct_text2{
    color: var(--Primary, #1F2B6C);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px; 
    margin-left: 20px;
}

.contact2{
    display: flex;
    width: 650px;
    height: 280px;
    justify-content: center;
    gap: 64px;  
}

.e-mail img{
    margin-left: 30px;
    margin-top: 75px;
    color: #000;
    margin-bottom: 15px;
}

.e-mail{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    border-radius: 8px;
    flex-shrink: 0;
    
}

.mail_text{
    color: var(--Accent, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 30px;
margin-top: 8px;
}

.mail_text2{
    color: var(--Primary, #1F2B6C);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 9px; 
margin-left: 30px;
}

.working img{
    margin-left: 30px;
    margin-top: 75px;
    margin-bottom: 15px;
    color: #000;
}

.working{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    border-radius: 8px;
    flex-shrink: 0;
}

.work_text{
    color: var(--Accent, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 30px;
margin-top: 8px;
}

.work_text2{
    color: var(--Primary, #1F2B6C);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 9px; 
margin-left: 25px;
}