@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');

h1{
    font-family: 'Bebas Neue', sans-serif;
}
.main-div{

    display: flex;
   
}
.about-div{
    display: flex;
    width: 40%;
   
}
.hospital-img{
    width: 40%;
}
    
/* .hospital-img{
    width: 100px;
    height: 50%;
    object-fit: cover;
} */

