.abt_img{
    position: relative;
    margin-top: 15px;
    margin-left: 105px;
    border-radius: 20px;
}

.abt_text{
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: xx-large;
    margin-top: 200px;
    margin-left: 30px;
    display: inline;
    
}

.hosp_name{
    color: var(--Secondary, #159EEC);
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.hosp_intro{
    color: var(--Primary, #1F2B6C);
    display: inline;
    font-family: "Yeseva One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
}

.spl{
    margin-top: 20px;
    margin-bottom: 30px;
}

.abt_list{
    display: block;
    margin-left: 13px;
}

.abt_list li{
   list-style: disc;
   color: #000000;
   font-family: "Work Sans";
   font-size: 20px;
   font-style: normal;
   font-weight: 450;
   letter-spacing: 1px;
   line-height: 35px;
}

.abt_list2{
    display: block;
    margin-left: 50px;

}

.abt_list2 li{
    list-style: disc;
    color: #000;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    letter-spacing: 1px;
    line-height: 35px;
 }

 .abt_content1{
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
 }

 .abt_content2{
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
 }  

 .abt_img2{
    width: 1520px;
    margin-top: 90px;
    opacity: 0.5;
    background: #22349a;
    position: relative;
 }

 .dr_text{
    position: absolute;
    top: 0;
    font-weight: 500;
    margin-top: 1000px;
    margin-left: 330px;
    font-weight: 600;
    color: #1F2B6C;
 }

 .contact1{
    color: var(--Secondary, #159EEC);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    margin-top: 50px;
 }

 .contact2{
    color: var(--Primary, #1F2B6C);
    text-align: center;
    font-family: "Yeseva One";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

.contact{
    display: flex;
    width: 1520px;
    height: 363px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    
}

.emergncy{
    background-color: #BFD2F8;
    text-align: end;
    width: 233px;
    height: 233px;
    flex-shrink: 0;
}

.emg_text{
    color: var(--Primary, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-right: 85px;
    margin-top: 8px;
}

.emergncy img{
    margin-right: 165px;
    margin-top: 75px;
}

.loc{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    flex-shrink: 0;
}

.loct_text{
    color: var(--Accent, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.e-mail{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    flex-shrink: 0;
}

.mail_text{
    color: var(--Accent, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.working{
    background-color: #BFD2F8;
    width: 233px;
    height: 233px;
    flex-shrink: 0;
}

.work_text{
    color: var(--Accent, #1F2B6C);
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}